<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-end padding-row">
      <ion-button  color="danger" (click)="confirmDeviceDelete()" *ngIf="thingCanBeDeleted()">
        <ion-icon slot="end" src="assets/app-icons/delete.svg"></ion-icon>
        {{ 'button.delete' | translate }}
      </ion-button>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-padding">
    <ion-card-content>
      <form [formGroup]="deviceDetailsForm">
        <ion-item class="ion-margin-bottom">
          <ion-label slot="start">{{ 'device.details.tab.things-settings.label.id' | translate }}:</ion-label>
          <ion-input formControlName="hwDeviceId" readonly color="medium"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom">
          <ion-label slot="start">{{ 'device.details.tab.things-settings.label.description' | translate }}:</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ng-container [formGroup]="deviceAttributesForm">
          <ion-item class="ion-margin-bottom">
            <ion-label slot="start">{{ 'device.details.tab.things-settings.label.tags' | translate }}:</ion-label>
            <ubirch-tag-list-input formControlName="claiming_tags"></ubirch-tag-list-input>
            <!--
                        <tag-input item-content formControlName="claiming_tags"
                                   placeholder="{{ 'device.details.tab.things-settings.placeholder.tags' | translate }}">
                        </tag-input> -->
          </ion-item>
          <ion-item>
            <ion-label slot="start">{{ 'device.details.tab.things-settings.label.api-config' | translate }}:</ion-label>
            <ion-textarea ngClass="config-area" class="ion-margin-vertical config-input" readonly
                          formControlName="apiConfig"
                          placeholder="{{ 'device.details.tab.things-settings.placeholder.api-config' | translate }}">
            </ion-textarea>
          </ion-item>
        </ng-container>
      </form>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center padding-row">
          <ion-col size="6">
            <ion-button color="success"  expand="full" *ngIf="deviceHasUnsavedChanges" (click)="saveDevice()">
              <ion-icon slot="start" name="save"></ion-icon>
              {{ 'button.save' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="2">
            <ion-button color="light"  expand="full" *ngIf="deviceHasUnsavedChanges" (click)="discardChanges()">
              {{ 'button.cancel' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
