<ubirch-web-ui-header></ubirch-web-ui-header>

<div slot="fixed">
  <ion-item slot="end">
    <ion-button size="small" slot="end" (click)="presentNewDeviceModal()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      new device
    </ion-button>
  </ion-item>
</div>

<ion-content>
      <ion-list>
        <ion-item *ngFor="let item of deviceStubs" [routerLink]="['/devices','details', item.hwDeviceId]">
          <ng-container *ngIf="item.deviceType">
            <button mat-icon-button
                    [matTooltip]="item.deviceType.name['de']">
              <ion-icon *ngIf="item.deviceType.iconFileName" [src]="item.deviceType.iconFileName" slot="start"></ion-icon>
              <ion-icon *ngIf="!item.deviceType.iconFileName && item.deviceType.iconId" [name]="item.deviceType.iconId" slot="start"></ion-icon>
            </button>
          </ng-container>
          {{item.description}}
          <div class="item-note" slot="end">
            {{item.hwDeviceId}}
          </div>
        </ion-item>
      </ion-list>
</ion-content>
