<ubirch-web-ui-header
        title="Your Things"
        [headerRightLabel]="headerRightLabel"
        [headerRightValue]="headerRightValue"
        [actionButtons]="actionButtons"
        (buttonClicked)="handleButtonClick($event)"
        addSearchBarWithPlaceholder="Filter Things by description or ID"
        (startSearch)="search($event)"
></ubirch-web-ui-header>

<ion-content class="ion-padding-horizontal">
  <ng-container *ngIf="deviceStubs; else NO_LIST">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center padding-row">
        <ion-col size="12">
          <mat-paginator #paginator
                         [ngClass]="{'invisible': searchActive()}"
                         [length]="numberOfDevices"
                         [pageSize]="pageSize">
          </mat-paginator>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let item of deviceStubs" color="light" class="device-list-item ion-margin-bottom" lines="none">
        <ion-label [routerLink]="['/devices','details', item.hwDeviceId]" class="devices-list-item-content">
          <h2>{{item.description}}</h2>
          <h3>{{item.hwDeviceId}}</h3>
          <p *ngIf="item.deviceState; else STATE_NOT_AVAILABLE">
            <ion-badge [color]="item.deviceState.getStateColor()">UPPs in the last day: {{item.deviceState.numberUPPs}}</ion-badge>
          </p>

          <ng-template #STATE_NOT_AVAILABLE>
            <p *ngIf="stateLoading">loading state...</p>
            <p *ngIf="!stateLoading">state not available</p>
          </ng-template>

        </ion-label>
        <div class="item-note" slot="end">
          <ion-button (click)="confirmDeviceDelete(item)" color="danger" class="list-item-end-button" *ngIf="thingCanBeDeleted(item)">
            <div class="ion-align-items-center">
              <ion-icon src="assets/app-icons/delete.svg" class="list-item-end-icon"></ion-icon>
              delete
            </div>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #NO_LIST>
    <ion-row *ngIf="loaded" class="ion-padding ion-align-items-center ion-justify-content-center">
      <ion-col size="6">
        <div class="ion-text-center">
          <h1>You seem to have no things already.</h1>
        </div>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
