<ubirch-web-ui-header></ubirch-web-ui-header>

<div slot="fixed">
  <ion-item slot="end">
    <ion-button size="small" slot="end" (click)="presentNewDeviceModal()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      new device
    </ion-button>
  </ion-item>
</div>

<ion-content>
      <ion-list>
        <ion-item *ngFor="let item of deviceStubs">
          <ion-label [routerLink]="['/devices','details', item.hwDeviceId]">
            <h2>{{item.description}}</h2>
            <h3>{{item.hwDeviceId}}</h3>
            <p>state not available</p>
          </ion-label>
          <div class="item-note" slot="end">
            <ion-button (click)="confirmDeviceDelete(item)" color="danger">
              <ion-icon name="trash"></ion-icon>
              <ion-label>delete</ion-label>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
</ion-content>
