.device-list-item {
  margin-bottom: 50px;
}
ion-button div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.item-note {
  height: 100%;
}

.devices-list-delete-button {
  height: 100%;
}

.devices-list-delete-icon {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.devices-list-item-content {
  margin: 20px;
}
