<ion-content>
  <ion-text>
    <h2>Devices created</h2>
    <h3>Device creation states:</h3>
    <ng-container *ngIf="successful && successful.size > 0">
      <ion-list>
        <ion-item *ngFor="let item of successful | keyvalue"
                  [routerLink]="['/devices','details', item.key]" (click)="close()">
          <ion-label >
            <h2>{{item.key}}</h2>
          </ion-label>
          <ion-label >
            <h2>{{item.value}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="errorMessage">
      <ion-text  color="danger">
        <ion-icon name="alert" color="danger"></ion-icon>
        <h3></h3>
      </ion-text>
    </ng-container>
    <ng-container *ngIf="failed && failed.size > 0">
      <ion-list>
        <ion-item *ngFor="let item of failed | keyvalue"
                  [routerLink]="['/devices','details', item.key]" (click)="close()">
          <ion-label >
            <h2>{{item.key}}</h2>
          </ion-label>
          <ion-label >
            <h2>{{item.value}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-text>
</ion-content>
