<ubirch-web-ui-header
  title="Import"
></ubirch-web-ui-header>

<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-import-form
          [loading]="loading$ | async"
          [fileSizeLimit]="fileSizeLimit"
          (submitForm)="formSubmit($event)"
        ></app-import-form>
        <div class="spinner ion-padding-vertical" *ngIf="loading$ | async">
          <ion-spinner></ion-spinner>
        </div>
        <ng-container *ngFor="let error of (errorMessages$ | async)">
          {{ error }}
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
