<ubirch-web-ui-verification-header
  title="Verification"
  [headerRightLabel]="headerRightLabel"
  [headerRightValue]="headerRightValue"
  [headerFullWidthLabel]="verificationStateLabel"
  [headerFullWidthValue]="verifiedHash"
  [searchInput]="hash2Verify"
  addSearchBarWithPlaceholder="Insert hash for verification and press enter"
  [searchOnEnter]="true"
  showSearchCancelButton="focus"
  [fullWidthSearch]="true"
  (startSearch)="checkHashButtonClicked($event)"
></ubirch-web-ui-verification-header>

<ion-router-outlet></ion-router-outlet>
