<ubirch-web-ui-verification-header
  title="{{ 'verification.title' | translate }}"
  [currentDevice]="currrentDevice"
  [headerFullWidthLabel]="verificationStateLabel"
  [headerFullWidthValue]="verifiedHash"
  [searchInput]="hash2Verify"
  addSearchBarWithPlaceholder="{{ 'verification.searchbar.label' | translate }}"
  [searchOnEnter]="true"
  showSearchCancelButton="focus"
  [fullWidthSearch]="true"
  (startSearch)="checkHashButtonClicked($event)"
></ubirch-web-ui-verification-header>

<ion-router-outlet></ion-router-outlet>
