<ion-tabs class="tabs-under-header">
  <ion-tab-bar slot="top">

    <ion-tab-button tab="settings" layout="icon-start">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'device.details.tabs.header.things-settings' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="state" layout="icon-start">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>{{ 'device.details.tabs.header.things-state' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
            id="tabs-data-tab-button"
            tab="data"
            layout="icon-start"
            *ngIf="showDataTab$ | async"
    >
      <ion-icon name="analytics"></ion-icon>
      <ion-label>{{ 'device.details.tabs.header.data' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
            id="tabs-data-graph-tab-button"
            tab="data-graph"
            layout="icon-start"
            *ngIf="showDataTab$ | async"
    >
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>{{ 'device.details.tabs.header.data-graph' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upphashes" layout="icon-start">
      <ion-icon src="assets/app-icons/shield-checkmark.svg"></ion-icon>
      <ion-label>{{ 'device.details.tabs.header.recent-hashes' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pubkeys" layout="icon-start">
      <ion-icon name="key"></ion-icon>
      <ion-label>{{ 'device.details.tabs.header.pubkeys' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
