<ion-tabs class="tabs-under-header">
  <ion-tab-bar slot="top">
    <ion-tab-button
      id="tabs-data-tab-button"
      tab="data"
      layout="icon-start"
      *ngIf="showDataTab$ | async"
    >
      <ion-icon name="stats"></ion-icon>
      <ion-label>Data</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" layout="icon-start">
      <ion-icon name="settings"></ion-icon>
      <ion-label>ThingsSettings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="state" layout="icon-start">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>ThingsState</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pubkeys" layout="icon-start">
      <ion-icon name="key"></ion-icon>
      <ion-label>PublicKeys</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
