<ubirch-web-ui-header
        [title]="title"
        headerRightLabel="Created:"
        [headerRightValue]="loadedDevice && (loadedDevice.created | date: 'MMMM dd, yyyy, h:mm a')"
        [actionButtons]="actionButtons"
        (buttonClicked)="handleButtonClick($event)"
></ubirch-web-ui-header>

<ng-container *ngIf="id">
  <ion-tabs padding-horizontal>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="keys">
        <ion-icon name="key"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ng-container>
