<ion-header id="header">
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="actionButton">
    <ng-container *ngFor="let but of actionButtons">
      <ion-back-button *ngIf="but.isBackButton; else normalButton" text="{{ but.labelKey | translate }}"
                       default-href="devices">
      </ion-back-button>
      <ng-template #normalButton>
        <ion-button [color]="but.color" (click)="_buttonClicked(but.action)">
          <ion-icon *ngIf="but.iconPath; else buttonWithIcon" slot="start"
                    [src]="but.iconPath"></ion-icon>
          {{ but.labelKey  | translate }}
        </ion-button>
      </ng-template>
      <ng-template #buttonWithIcon>
        <ion-icon *ngIf="but.iconName" slot="start" [name]="but.iconName"></ion-icon>
      </ng-template>
    </ng-container>
  </div>
  <div id="title" class="page-title">
    {{title}}
  </div>
  <app-language-select id="language"></app-language-select>
  <div id="sessionInfo">
    <ubirch-web-ui-logged-in-user></ubirch-web-ui-logged-in-user>
    <div id="rightLabel" class="ion-align-items-center" *ngIf="headerRightValue">
      <ion-label class="header-right-label">
        {{headerRightLabel}}
      </ion-label>
      <span>{{headerRightValue}}</span>
    </div>
  </div>


  <div id="search">
    <div *ngIf="addSearchBarWithPlaceholder">
      <div *ngIf="searchOnEnter">
        <ion-searchbar #SEARCHBAR
                       color="light"
                       [showCancelButton]="showSearchCancelButton"
                       [placeholder]="addSearchBarWithPlaceholder"
                       [value]="searchInput"
                       (keyup.enter)="_startSearch($event)"
                       debounce="500"
                       (ionChange)="_saveSearchString($event)">
        </ion-searchbar>
      </div>
      <div *ngIf="!searchOnEnter">
        <ion-searchbar #SEARCHBAR
                       color="light"
                       [showCancelButton]="showSearchCancelButton"
                       [placeholder]="addSearchBarWithPlaceholder"
                       [value]="searchInput"
                       debounce="500"
                       (ionChange)="_startSearch($event)">
        </ion-searchbar>
      </div>
    </div>
  </div>





  <!-- <ion-row class="ion-justify-content-end max-content-height" *ngIf="headerFullWidthValue">
     <ion-col size="12" class="ion-align-items-center">
       <ion-label class="header-right-label">
         {{headerFullWidthLabel}}
       </ion-label>
       <span>{{headerFullWidthValue}}</span>
     </ion-col>
   </ion-row> -->

</ion-header>

