.login-pf body {
    background: url("../img/ubirch_grey_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-pf-page {
    min-height: 800px;
    position: relative;
}

#ubirch-brand {
    position: fixed;
    display: flex;
    align-items : center;
    margin: 0 0 100px 100px;
    bottom: 0;
    left: 0;
    width: 300px;
    color: #ffffff;
    font-size: 18px;
}

#ubirch-brand img {
    width: 100px;
}

#ubirch-brand #img-div {
    margin-right: 30px;
}

#ubirch-brand #txt-div p {
    margin: 0;
    font-weight: 300;
}

.card-pf {
    background: #fff;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 630px;
    border-top: 0;
    box-shadow: 0 0 0;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-primary {
    background-color: #000000;
    background-image: unset;
    border-color: unset;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #333333;
    background-image: none;
    border-color: #353535;
    color: #fff;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open .dropdown-toggle.btn-primary.focus {
    background-color: #333333;
    border-color: #353535;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #333333;
    border-color: #353535;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 60px #f0f0f0 inset !important;
    background-color: #f0f0f0 !important;
    background-clip: content-box !important;
    border: none;
}

.form-control:focus {
    border-color: #989898 !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(206, 206, 206, 0.6) !important;
}
