<ubirch-verification-quick-info *ngIf="verificationState != VERIFICATION_STATE.PENDING && verificationState != VERIFICATION_STATE.NO_HASH"
                                [upp]="verifiedUpp"
                                [hashState]="verificationState"
                                slot="fixed">
</ubirch-verification-quick-info>

<ion-content>


  <ng-container *ngIf="verificationState === VERIFICATION_STATE.HASH_VERIFIED; else ERROR_HANDLING">
    <ion-card class="ion-padding">
      <ion-card-content>
        <ion-item>
          <pre>{{verifiedUpp.pureJSON | json:4 }}</pre>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ng-template #ERROR_HANDLING>
  <ubirch-verification-error-handling
    [hash2Verify]="hash2Verify"
    [verificationState]="verificationState"></ubirch-verification-error-handling>
</ng-template>
