<ubirch-web-ui-header></ubirch-web-ui-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <img [src]="clientStartImgPath" [alt]="clientName" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <markdown [src]="clientDescriptionPath" (load)="onLoad($event)" (error)="onError($event)"></markdown>
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
