<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <img [src]="clientStartImgPath" [alt]="clientName" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <markdown [src]="clientDescriptionPath" (load)="onLoad($event)" (error)="onError($event)"></markdown>
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
