<ion-content class="ion-padding">
    <ion-row class="ion-justify-content-end">
        <img src="assets/app-icons/close-outline.svg" id="close" (click)="dismiss()">
    </ion-row>

    <div class="ion-text-center">
        <h1>Create new Token</h1>
    </div>

    <form [formGroup]="tokenDetailsForm">
        <ion-card style="padding: 20px">
            <ion-item>
                <ion-label>Description</ion-label>
                <ion-input id="description" slot="end" formControlName="purpose"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Expire Date</ion-label>
                <ion-datetime display-format="MMM DD, YYYY HH:mm" mode="md" id="expiration" slot="end" formControlName="expiration"></ion-datetime>
                <img src="assets/app-icons/calendar-outline.svg" class="calendarIcon" slot="end">
            </ion-item>
            <ion-item>
                <ion-label>Valid from</ion-label>
                <ion-datetime display-format="MMM DD, YYYY HH:mm" id="vFrom" slot="end" formControlName="notBefore"></ion-datetime>
                <img src="assets/app-icons/calendar-outline.svg" class="calendarIcon" slot="end">
            </ion-item>
            <ion-item>
                <ion-label>Valid for Things</ion-label>
                <ion-select placeholder="select" id="targetIdentities" slot="end" multiple="true" [(ngModel)]="selectedThings" formControlName="targetIdentities">
                    <ion-select-option *ngFor="let device  of devices" value="{{device.hwDeviceId}}">{{device.description}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card>
    </form>
    <ion-button color="success" expand="full" class="ion-margin-vertical" [disabled]="!tokenDetailsForm.valid" (click)="createToken()">Create</ion-button>
</ion-content>
