<ion-content class="ion-padding">
    <ion-row class="ion-justify-content-end">
        <img src="assets/app-icons/close-outline.svg" id="close" (click)="dismiss()">
    </ion-row>

    <div class="ion-text-center">
        <h1>{{'token.create.new_token' | translate}}</h1>
    </div>

  <ul class="errors">
    <li *ngFor="let item of formErrors">{{ item }}</li>
  </ul>

  <form [formGroup]="tokenDetailsForm">
        <ion-card style="padding: 20px">
          <ion-item>
              <ion-label>{{'token.create.description' | translate}}</ion-label>
              <ion-input id="description" slot="end" formControlName="purpose"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>{{'token.create.valid_from' | translate}}</ion-label>
              <ng-container *ngIf="notBefore.value === ''; else SELECT_NOTBEFORE_DATE">
                  <ion-label>{{'token.create.valid_from.placeholder' | translate}}</ion-label>
                  <ion-button (click)="setValidFromDate()">
                      <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
                  </ion-button>
              </ng-container>
              <ng-template #SELECT_NOTBEFORE_DATE>
                  <ion-datetime-button datetime="notBefore"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                          <ion-datetime id="notBefore" formControlName="notBefore"
                                        [locale]="language"
                                        [min]="mindate"
                                        [max]="maxdate"
                          ></ion-datetime>
                      </ng-template>
                  </ion-modal>
              </ng-template>
          </ion-item>
          <ion-item>
              <ion-label>{{'token.create.expiration' | translate}}</ion-label>
              <ng-container *ngIf="expiration.value === ''; else SELECT_EXP_DATE">
                  <ion-label>{{'token.create.expiration.placeholder' | translate}}</ion-label>
                  <ion-button (click)="setExpireDate()">
                      <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
                  </ion-button>
              </ng-container>
              <ng-template #SELECT_EXP_DATE>
                  <ion-datetime-button datetime="expiration"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                          <ion-datetime id="expiration" formControlName="expiration"
                                        [locale]="language"
                                        [min]="mindate"
                                        [max]="maxdate"
                          ></ion-datetime>
                      </ng-template>
                  </ion-modal>
              </ng-template>
          </ion-item>
          <ion-item *ngIf="userCanCreateRiskyTokens">
            <ion-label>{{'token.create.valid_for_all_things' | translate}}</ion-label>
            <ion-toggle formControlName="validForAll"></ion-toggle>
          </ion-item>
          <ion-item *ngIf="selectTargetIdentities">
            <ion-label>{{'token.create.things' | translate}}</ion-label>
            <ion-select placeholder="{{'token.create.select' | translate}}" id="targetIdentities" slot="end"
                        multiple="true" formControlName="targetIdentities">
              <ion-select-option *ngFor="let device  of devices"
                                 value="{{device.hwDeviceId}}">{{device.description}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{'token.create.scopes' | translate}}</ion-label>
            <ion-select placeholder="{{'token.create.select' | translate}}" multiple="true" formControlName="scopes">
                <ion-select-option *ngFor="let scope of availableScopes"
                                   value="{{scope}}">{{scope | translate}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label>{{'token.create.targetGroups' | translate}}</ion-label>
              <ion-input #group slot="end">
              </ion-input>
              <ion-button [disabled]="!validGroup(group.value)" class="addButton" (click)="appendGroup(group.value)">+</ion-button>
          </ion-item>
          <ion-chip color="primary" outline="true" *ngFor="let group of enteredGroups">
              <ion-label>{{group}}</ion-label>
              <ion-icon name="close" (click)="removeGroup(group)"></ion-icon>
          </ion-chip>

            <ion-item>
                <ion-label>{{'token.create.origin-domains' | translate}}</ion-label>
                <ion-input #domains slot="end">
                </ion-input>
                <ion-button [disabled]="!validURL(domains.value)" class="addButton" (click)="appendDomain(domains.value)">+</ion-button>
            </ion-item>
                <ion-chip color="primary" outline="true" *ngFor="let domain of enteredDomains">
                    <ion-label>{{domain}}</ion-label>
                    <ion-icon name="close" (click)="removeDomain(domain)"></ion-icon>
                </ion-chip>
        </ion-card>
    </form>
    <ion-button color="success" expand="full" class="ion-margin-vertical" [disabled]="!tokenDetailsForm.valid" (click)="createToken()">Create</ion-button>

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{'token.create.info.header' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>{{'token.create.info.wildcard' | translate}}</ion-text>
            <ion-text>{{'token.create.info.groups' | translate}}</ion-text>
            <ion-text>{{'token.create.info.domains' | translate}}</ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>
