<ion-content class="ion-padding">
    <ion-row class="ion-justify-content-end">
        <img src="assets/app-icons/close-outline.svg" id="close" (click)="dismiss()">
    </ion-row>

    <div class="ion-text-center">
        <h1>{{'token.create.new_token' | translate}}</h1>
    </div>

    <form [formGroup]="tokenDetailsForm">
        <ion-card style="padding: 20px">
            <ion-item>
                <ion-label>{{'token.create.description' | translate}}</ion-label>
                <ion-input id="description" slot="end" formControlName="purpose"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>{{'token.create.valid_from' | translate}}</ion-label>
                <ion-datetime placeholder="{{'token.create.valid_from.placeholder' | translate}}" display-format="DD MMM, YYYY" max="3000" id="vFrom" slot="end" formControlName="notBefore"></ion-datetime>
                <img src="assets/app-icons/calendar-outline.svg" class="calendarIcon" slot="end">
            </ion-item>
            <ion-item>
                <ion-label>{{'token.create.expiration' | translate}}</ion-label>
                <ion-datetime placeholder="{{'token.create.expiration.placeholder' | translate}}" display-format="DD MMM, YYYY" max="3000" mode="md" id="expiration" slot="end" formControlName="expiration"></ion-datetime>
                <img src="assets/app-icons/calendar-outline.svg" class="calendarIcon" slot="end">
            </ion-item>
          <ion-item>
            <ion-label>{{'token.create.valid_for_all_things' | translate}}</ion-label>
            <ion-toggle formControlName="validForAll"></ion-toggle>
          </ion-item>
          <ion-item *ngIf="selectTargetIdentities">
            <ion-label>{{'token.create.things' | translate}}</ion-label>
            <ion-select placeholder="{{'token.create.select' | translate}}" id="targetIdentities" slot="end" multiple="true" formControlName="targetIdentities">
              <ion-select-option *ngFor="let device  of devices" value="{{device.hwDeviceId}}">{{device.description}}</ion-select-option>
            </ion-select>
          </ion-item>
            <ion-item>
                <ion-label>{{'token.create.scopes' | translate}}</ion-label>
                <ion-select formControlName="scopes">
                    <ion-select-option *ngFor="let scope of availableScopes"
                                       value="{{scope}}">{{scope}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="isAdmin() === true">
                <ion-label>{{'token.create.targetGroups' | translate}}</ion-label>
                <ion-input #group slot="end">
                </ion-input>
                <ion-button [disabled]="!validGroup(group.value)" class="addButton" (click)="appendGroup(group.value)">+</ion-button>
            </ion-item>
            <ion-chip color="primary" outline="true" *ngFor="let group of enteredGroups">
                <ion-label>{{group}}</ion-label>
                <ion-icon name="close" (click)="removeGroup(group)"></ion-icon>
            </ion-chip>

            <ion-item>
                <ion-label>{{'token.create.origin-domains' | translate}}</ion-label>
                <ion-input #domains slot="end">
                </ion-input>
                <ion-button [disabled]="!validURL(domains.value)" class="addButton" (click)="appendDomain(domains.value)">+</ion-button>
            </ion-item>
                <ion-chip color="primary" outline="true" *ngFor="let domain of enteredDomains">
                    <ion-label>{{domain}}</ion-label>
                    <ion-icon name="close" (click)="removeDomain(domain)"></ion-icon>
                </ion-chip>
        </ion-card>
    </form>
    <ion-button color="success" expand="full" class="ion-margin-vertical" [disabled]="!tokenDetailsForm.valid" (click)="createToken()">Create</ion-button>

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{'token.create.info.header' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>{{'token.create.info.wildcard' | translate}}</ion-text>
            <ion-text>{{'token.create.info.groups' | translate}}</ion-text>
            <ion-text>{{'token.create.info.domains' | translate}}</ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>
