<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-end padding-row">
    </ion-row>
  </ion-grid>
  <ion-card class="ion-padding">
    <ion-card-header>{{ 'device.details.tab.recent-hashes.label.last-anchored-hashes' | translate }}:</ion-card-header>
    <ion-card-content>
      <ion-item class="ion-margin-bottom" *ngIf="uppHashes === undefined">
        <ion-label slot="start">{{ 'loading' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngIf="uppHashes && uppHashes.length === 0">
        <ion-label slot="start" >{{ 'device.details.tab.recent-hashes.no-hashes-found' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngFor="let uppHash of uppHashes">
        <ion-label lines="full">
          <ion-text class="ion-text-wrap">{{uppHash.hash}}</ion-text>
          <p>{{uppHash.timestamp | date: DATE_TIME_ZONE_FORMAT}}</p>
        </ion-label>
        <div class="item-note" slot="end">
          <ion-button (click)="openVerification(uppHash)" color="secondary" class="list-item-end-button">
            <div class="ion-align-items-center">
              <ion-icon src="assets/app-icons/checkmark-circle-outline.svg" class="list-item-end-icon"></ion-icon>
              {{ 'button.verify' | translate }}
            </div>
          </ion-button>
        </div>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
