<form [formGroup]="importForm" (ngSubmit)="submitImportForm()">
  <!-- type -->
  <ion-item class="ion-margin-bottom">
    <ion-label slot="start">
      {{ 'import.form.label.type' | translate }}<ion-text color="danger">*</ion-text>:
    </ion-label>
    <ion-select
      formControlName="batch_type"
      interface="popover"
    >
      <ion-select-option value="sim_import">{{ 'import.form.type.uSIM' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- file -->
  <ion-item
    class="ion-margin-bottom custom-validation-markup"
    lines="full"
    [ngClass]="{
      'ng-invalid': importForm.controls.file.invalid,
      'ng-touched': importForm.controls.file.touched,
      'ng-dirty': importForm.controls.file.dirty
    }"
  >
    <ion-label slot="start">
      {{ 'label.file' | translate }}<ion-text color="danger">*</ion-text>:
    </ion-label>
    <app-file-input
      class="file-input"
      slot="end"
      formControlName="file"
    ></app-file-input>
  </ion-item>

  <!-- skip header -->
  <ion-item class="ion-margin-bottom" lines="full">
    <ion-label slot="start">
      {{ 'import.form.label.skip-header' | translate }}:
    </ion-label>
    <ion-toggle
      slot="end"
      formControlName="skip_header"
    ></ion-toggle>
  </ion-item>

  <!-- provider -->
  <ion-item class="ion-margin-bottom">
    <ion-label slot="start">
      {{ 'import.form.label.provider' | translate }}<ion-text color="danger">*</ion-text>:
    </ion-label>
    <ion-input formControlName="batch_provider"></ion-input>
  </ion-item>

  <!-- description -->
  <ion-item class="ion-margin-bottom">
    <ion-label slot="start">
      {{ 'import.form.label.description' | translate }}<ion-text color="danger">*</ion-text>:
    </ion-label>
    <ion-input formControlName="batch_description"></ion-input>
  </ion-item>

  <!-- tags -->
  <ion-item class="ion-margin-bottom">
    <ion-label slot="start">
      {{ 'import.form.label.tags' | translate }}<ion-text color="danger">*</ion-text>:
    </ion-label>
    <ion-input formControlName="batch_tags"></ion-input>
  </ion-item>

  <!-- submit -->
  <ion-button
    id="import-form-submit-button"
    type="submit"
    color="success"
    expand="full"
    [disabled]="importForm.invalid || loading"
  >
    {{ 'button.upload' | translate }}
  </ion-button>
  <ion-text color="danger">
    <p *ngIf="importForm?.controls.file.errors?.fileMaxSize" id="import-form-file-size-limit-warning">
      {{ 'import.form.info.max-file-size' | translate: { filesize: (fileSizePrettified$ | async) } }}
    </p>
  </ion-text>
</form>

