<ion-content>
  <ng-container *ngIf="pubKeyList; else NO_LIST">
    <ion-list>
      <!-- TODO: lowlight pubKeys that are not yet/no longer valid -->
      <ion-item *ngFor="let pubkey of pubKeyList" color="light" class="device-list-item ion-margin-bottom" lines="none">
        <ion-label class="devices-list-item-content">
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-row class="ion-margin-bottom">
                <h1 class="ion-text-wrap">{{ 'device.details.tab.pubkeys.label.pubkey' | translate }}: {{pubkey.pubKey}}</h1>
                <ion-button color="success" (click)="copyToClipboard(pubkey.pubKey)" class="ion-float-end ion-margin-horizontal">
                  <ion-icon name="copy"></ion-icon>
                </ion-button>
              </ion-row>
              <ion-row>
                <ion-col size="7">
                  <h2 class="ion-text-wrap">{{ 'device.details.tab.pubkeys.label.pubkeyid' | translate }}: {{pubkey.pubKeyId}}</h2>
                  <h2>{{ 'device.details.tab.pubkeys.label.algorithm' | translate }}: {{pubkey.algorithm}}</h2>
                </ion-col>
                <ion-col size="5">
                  <ion-row>
                    <ion-col size="5" class="ion-text-wrap">{{ 'device.details.tab.pubkeys.label.created' | translate }}:</ion-col>
                    <ion-col size="7" class="ion-text-wrap">{{pubkey.created | date: 'long':undefined:CURRENT_LANG}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="5" class="ion-text-wrap">{{ 'device.details.tab.pubkeys.label.not-valid-before' | translate }}:</ion-col>
                    <ion-col size="7" class="ion-text-wrap">{{pubkey.validNotBefore | date: 'long':undefined:CURRENT_LANG}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="5" class="ion-text-wrap">{{ 'device.details.tab.pubkeys.label.not-valid-after' | translate }}:</ion-col>
                    <ion-col size="7" class="ion-text-wrap">{{pubkey.validNotAfter | date: 'long':undefined:CURRENT_LANG}}</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
              <img *ngIf="pubkey.signed" src="assets/app-icons/ubirch_verify_right.png">
              <img *ngIf="!pubkey.signed" src="assets/app-icons/ubirch_verify_wrong.png">
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #NO_LIST>
    <ion-row *ngIf="loaded" class="ion-padding ion-align-items-center ion-justify-content-center">
      <ion-col size="6">
        <div class="ion-text-center">
          <h1>{{ 'device.details.tab.pubkeys.info.no-pubkeys-for-thing' | translate }}</h1>
        </div>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
