<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header no-border>
          <ion-grid>
            <ion-row class="ion-justify-content-center ion-margin-top">
              <ion-col size="10">
                <div>
                  <img [src]="clientLogoPath" class="logo">
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center" *ngIf="addClientNameToLogo">
              <ion-col>
                <div class="ion-text-center">
                  <h4>{{clientName}}</h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-header>
      <ion-content>
          <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                  <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active-menu-item" lines="none">
                      <ion-grid>
                          <ion-row class="ion-justify-content-center">
                              <ion-col size="8" class="ion-align-items-center">
                                  <ion-icon src="{{'assets/app-icons/'+p.icon}}" float-start></ion-icon>
                                  <ion-label class="ion-float-left">
                                      {{p.title}}
                                  </ion-label>
                              </ion-col>
                          </ion-row>
                      </ion-grid>
                  </ion-item>
              </ion-menu-toggle>
          </ion-list>
      </ion-content>
      <ion-footer>
        <ion-item>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="8" class="ion-align-items-center">
                <img src="assets/app-images/UBIRCH_Wort_Bildmarke_white.svg" class="ion-float-start ubirch-brand">
                <ion-label class="ion-float-left">
                  powered by<br/>
                  ubirch GmbH
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
