// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.logo {
  max-height: 150px;
}

.ubirch-brand {
  max-width: 100px;
  max-height: 100px;
}

ion-content, ion-menu, ion-item {
  --background: none;
  color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  --color-hover: #e6e6e6;
}

.active-menu-item {
  background: rgba(255,255,255,0.2);
}

.list-md {
  background-color: transparent;
}

ion-icon {
  color: #ffffff;
  height: 30px;
  width: 30px;
  padding: 20px;
}
ion-icon.ubirch-brand {
  height: 70px;
  width: 70px;
  padding: 0;
}

ion-label {
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
}

.item .sc-ion-label-md-h {
  margin: 5px 0;
  line-height: 1.2 !important;
}

ion-footer {
  margin-bottom: 10%;
}

ion-split-pane {
  ion-menu {
    ion-header, ion-content, ion-footer {
      background-color: black;
    }
  }
}

ion-split-pane.split-pane-visible {
  ion-menu {
    ion-header, ion-content, ion-footer {
      background: none;
    }
  }
}

@media screen and (max-height: 600px) {
  ion-menu ion-header {
    display: none;
  }
}

@media screen and (min-height: 601px) {
  ion-menu ion-header {
    display: block;
  }
}
