// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.logo {
  max-height: 250px;
}

.ubirch-brand {
  max-width: 100px;
  max-height: 100px;
}

ion-content, ion-menu, ion-item {
  --background: none;
  color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  --color-hover: #e6e6e6;
}

.active-menu-item {
  background: rgba(255,255,255,0.2);
}

.list-md {
  background-color: transparent;
}

ion-icon {
  color: #ffffff;
  height: 30px;
  width: 30px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
  font-size: 18px;
  font-weight: 400;
}

.item .sc-ion-label-md-h {
  margin: 5px 0;
  line-height: 1.2 !important;
}

ion-footer {
  margin-bottom: 100px;
}

ion-icon {
  padding: 20px;
}
ion-label {
  padding: 20px;
}
