<ubirch-web-ui-header defaultHref="devices"></ubirch-web-ui-header>

<ng-container *ngIf="id">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Device Details of</ion-card-subtitle>
      <ion-card-title>{{id}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="deviceDetailsForm">
        <ion-item>
          <ion-label>hwDeviceId:</ion-label>
          <ion-input formControlName="hwDeviceId" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>description:</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

</ng-container>
