<ubirch-web-ui-header defaultHref="devices"></ubirch-web-ui-header>

<ng-container *ngIf="id">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Device Details of</ion-card-subtitle>
      <ion-card-title>{{id}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="deviceDetailsForm">
        <ion-item>
          <ion-label slot="start">hwDeviceId:</ion-label>
          <ion-input formControlName="hwDeviceId" readonly color="medium"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label slot="start">description:</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label slot="start">deviceType:</ion-label>
            <ng-container *ngIf="deviceType">
                <ion-icon *ngIf="deviceType.iconFileName" [src]="deviceType.iconFileName" slot="start"></ion-icon>
                <ion-icon *ngIf="!deviceType.iconFileName && deviceType.iconId" [name]="deviceType.iconId" slot="start"></ion-icon>
                {{deviceType.name['de']}}
            </ng-container>
            <ion-button size="small" slot="end" (click)="changeDeviceType()">
                <ion-icon name="create" slot="start"></ion-icon>
                change
            </ion-button>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Owner:</ion-label>
          <ion-text *ngIf="owner" slot="start">
            {{owner}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label slot="start">deviceConfig:</ion-label>
          <ion-textarea ngClass="config-area" formControlName="deviceConfig"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label slot="start">apiConfig:</ion-label>
          <ion-textarea ngClass="config-area" formControlName="apiConfig" class="config-input"></ion-textarea>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

</ng-container>
