.container{
  height: 90%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

ngx-qrcode{
  justify-self: center;
  align-self: center;
}

#close {
  height: 32px;
}

#close:hover {
  cursor: pointer;
}