$success-color: #53af32;
$fail-color: #e40146;
$error-msg-color: #aaaaaa;

.ubirch {
    &-verification {
        &-headline {
            font-size: 1.05em;
            font-weight: 700;
        }
        &-success {
            color: $success-color;
        }
        &-fail {
            color: $fail-color;
        }
    }
  &-error-output {
    padding: 0.5em 0;
    font-size: smaller;
    color: $error-msg-color;
  }
}
