<ion-content class="ion-padding-horizontal">
    <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-end padding-row">
        </ion-row>
    </ion-grid>
    <ion-card class="ion-padding">
        <ion-card-header>{{ 'device.details.tab.recent-hashes.label.last-anchored-datasets' | translate }}:
        </ion-card-header>
        <ion-card-content>
            <ion-item class="ion-margin-bottom" *ngIf="dataSets === undefined">
                <ion-label slot="start">{{ 'loading' | translate }}</ion-label>
            </ion-item>
            <ion-item *ngIf="dataSets && dataSets.length === 0">
                <ion-label
                        slot="start">{{ 'device.details.tab.recent-hashes.no-datasets-found' | translate }}</ion-label>
            </ion-item>

            <app-expandable *ngFor="let dataSet of dataSets"
                            [title]="dataSet.timestamp | date: 'long':undefined:CURRENT_LANG">
                <ion-item>
                    <ion-label class="ion-padding-horizontal" lines="full">
                        <form onsubmit="verifyForm(); return false;">
                            <ion-row>
                                <ion-col size="6">
                                    <div *ngFor="let item of dataSet.value | keyvalue">
                                        <ion-item>
                                            <ion-label style="font-weight: bold">{{item.key}}</ion-label>
                                            <ion-input value="{{item.value}}" style="text-align: end"></ion-input>
                                        </ion-item>
                                    </div>
                                </ion-col>

                                <ion-col size="6">
                                    <ion-button color="primary" type="submit">verify</ion-button>
                                    <div id="verification-widget"></div>
                                </ion-col>
                            </ion-row>
                        </form>
                    </ion-label>
                </ion-item>
            </app-expandable>

            <ion-item *ngFor="let dataSet of dataSets">
                <ion-label lines="full">
                    <ion-card-header>{{dataSet.timestamp | date: 'long':undefined:CURRENT_LANG}}</ion-card-header>
                </ion-label>
                <div class="item-note" slot="end">
                    <ion-button (click)="openVerification(dataSet)" color="secondary" class="list-item-end-button">
                        <div class="ion-align-items-center">
                            <ion-icon src="assets/app-icons/checkmark-circle-outline.svg"
                                      class="list-item-end-icon"></ion-icon>
                            {{ 'button.verify' | translate }}
                        </div>
                    </ion-button>
                </div>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>
