
<ion-content>
  <div class="info-block">{{ 'device.details.tab.data.ubirch-info' | translate }}</div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-end">
    </ion-row>
  </ion-grid>
  <div class="ion-padding-horizontal">
    <ion-card class="ion-padding">
      <ion-card-header>{{ 'device.details.tab.recent-hashes.label.last-anchored-datasets' | translate }}:</ion-card-header>
      <ion-card-content>
        <ion-item class="ion-margin-bottom" *ngIf="dataSets === undefined">
          <ion-label slot="start">{{ 'loading' | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="dataSets && dataSets.length === 0">
          <ion-label slot="start" >{{ 'device.details.tab.recent-hashes.no-datasets-found' | translate }}</ion-label>
        </ion-item>
        <ion-item *ngFor="let dataSet of dataSets">
          <ion-label lines="full">
            <ion-text *ngFor="let item of dataSet.value | keyvalue" class="ion-text-wrap">{{item.key}}: {{item.value}}<br></ion-text>
            <p>{{dataSet.timestamp | date: 'long':undefined:CURRENT_LANG}}</p>
          </ion-label>
          <div class="item-note" slot="end">
            <ion-button (click)="openVerification(dataSet)" color="secondary" class="list-item-end-button">
              <div class="ion-align-items-center">
                <ion-icon src="assets/app-icons/checkmark-circle-outline.svg" class="list-item-end-icon"></ion-icon>
                {{ 'button.verify' | translate }}
              </div>
            </ion-button>
          </div>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
