<div class="verification-quick-info">
    <div class="result">
        <div class="vTag">
            Initial Verification:
        </div>
        <div class="vTag">
            <img src="{{verificationDisplay.iVerIconSrc}}" alt="icon" [ngClass]="{'success': verificationDisplay.iClass === 'success', 'notAvailable': verificationDisplay.iClass === 'notAvailable', 'fail': verificationDisplay.iClass === 'fail'}">
        </div>
    </div>

    <div class="anchors">
        <div class="vTag">
            Blockchain Verification:
        </div>


        <div class="vTag">
            <img src="{{verificationDisplay.aVerIconSrc}}" alt="icon" [ngClass]="{'success': verificationDisplay.aClass === 'success', 'notAvailable': verificationDisplay.aClass === 'notAvailable', 'fail': verificationDisplay.aClass === 'fail'}">
            <a  *ngFor="let anchor of anchors" class="aTag" href="{{anchor.href}}">
                <img *ngIf="verificationDisplay.aClass === 'success'" alt="{{anchor.title}}" class="anchorIcon" height="64px" src="{{anchor.icon}}" width="64px">
                <p *ngIf="!anchor.icon">{{anchor.title}}</p>
            </a>
        </div>
    </div>
</div>



