.verification-quick-info {
  display: block;
  height: 90px;
  background-color: var(--ion-color-light);
  white-space: nowrap;
}

.resultCol {
  align-content: center;
}

.anchorCol{
  text-align: center;;
}

.success{
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    border-radius: 2px;
    background-color: var(--ion-color-success);
    width: 60px
}

.failed{
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    border-radius: 2px;
    background-color: var(--ion-color-danger);
    width: 60px
  }

.notAvailable{
  vertical-align: middle;
    text-align: center;
    line-height: 60px;
    border-radius: 2px;
    background-color: var(--ion-color-warning);
    width: 60px
}

.anchorIcon{
  size: 60px;
}

.vTag{
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
}

.grid{
  height: 60px;
}