.ng2-tag-input__text-input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 .5rem;
  height: 38px;
  width: 100%;
  font-size: 1em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
