<ion-content>
  <ion-grid class="popup-grid">
    <ion-row class="ion-align-items-center ion-justify-content-end popup-padding-row">
      <ion-text><h1><a (click)="dismiss()">X</a></h1></ion-text>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1>{{ 'devices.list.new-thing-created.heading' | translate }}</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <p>{{ 'devices.list.new-thing-created.sub-header' | translate }}:</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <ng-container *ngIf="successful && successful.size > 0">
            <ion-list>
              <ion-item-divider>
                <ion-label>{{ 'devices.list.new-thing-created.successful-list' | translate }}:</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let item of successful | keyvalue"
                        [routerLink]="['/devices','details', item.key]" (click)="dismiss()">
                <ion-label slot="start">
                  <h2>{{item.key}}</h2>
                </ion-label>
                <ion-label slot="end">
                  <h2>{{item.value}}</h2>
                </ion-label>
              </ion-item>
            </ion-list>
          </ng-container>
          <ng-container *ngIf="failed && failed.size > 0">
            <ion-list>
              <ion-item-divider>
                  <ion-label color="danger"><strong>{{ 'devices.list.new-thing-created.failed-list' | translate }}:</strong></ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let item of failed | keyvalue">
                <ion-label color="danger" slot="start">
                  <h2>{{item.key}}</h2>
                </ion-label>
                <ion-textarea rows="2" color="danger" slot="end">
                  {{item.value}}
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="popup-grid">
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="dismiss()" >
            <ion-icon src="assets/app-icons/list.svg" slot="start"></ion-icon>
            {{ 'button.to-things-overview' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
