<ion-content>
  <ion-grid class="popup-grid">
    <ion-row class="ion-align-items-center ion-justify-content-end popup-padding-row">
      <ion-text><h1><a (click)="dismiss()">X</a></h1></ion-text>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1><ion-icon src="assets/app-icons/delete.svg"></ion-icon>{{ 'devices.list.delete-thing.heading' | translate }}</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <p>{{ 'devices.list.delete-thing.sub-header' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <ion-item *ngFor="let device of devices; index as i;">
            <ion-label>
              <h2>{{ 'label.thing' | translate }} {{i+1}}:</h2>
              <p>{{device.hwDeviceId}}</p>
              <p>{{device.description}}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <p><strong>{{ 'label.note' | translate }}:</strong> {{ 'devices.list.delete-thing.note.text' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="popup-grid">
  <ion-row>
      <ion-col>
        <ion-button color="danger" expand="full" (click)="deleteDevice()" class="ion-margin-vertical">
          <ion-icon src="assets/app-icons/delete.svg"></ion-icon>
          {{ 'button.delete' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="full" (click)="dismiss()" >
          {{ 'button.cancel' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 </ion-content>
