<ion-content>

  <ubirch-verification-quick-info *ngIf="verificationState != VERIFICATION_STATE.PENDING && verificationState != VERIFICATION_STATE.NO_HASH"></ubirch-verification-quick-info>

  <ng-container *ngIf="verificationState === VERIFICATION_STATE.HASH_VERIFIED; else ERROR_HANDLING">
    <ubirch-verification-graph [upp]="verifiedUpp"></ubirch-verification-graph>
  </ng-container>
</ion-content>

<ng-template #ERROR_HANDLING>
  <ubirch-verification-error-handling
    [hash2Verify]="hash2Verify"
    [verificationState]="verificationState"></ubirch-verification-error-handling>
</ng-template>
