/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  background: url(/assets/app-images/ubirch_grey_bg.jpg) no-repeat center/cover fixed;
}

a {
  color: var(--ion-color-dark);
  cursor: pointer;
}

ion-header {
  height: var(--header-height);
  background-color: white;
}

ion-menu ion-header {
  background: transparent;
}

ion-header ion-grid {
  padding: 0 50px;
}

.max-content-height {
  max-height: 100px;
  overflow: auto;
}

.config-area textarea.native-textarea.sc-ion-textarea-md {
  min-height: 150px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #eee;
}

.page-title {
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 25px;
}

ion-button {
  --border-radius: 0;
}

ion-icon.md.hydrated {
  margin: 0 10px;
}

ion-badge {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 8px;
}

.mat-paginator.invisible {
  display: none;
}

.padding-row {
  height: 100px;
}

.popup-grid {
  padding: 0 50px 20px;
}

.popup-padding-row {
  height: 50px;
}

.sc-ion-card-md-h {
  --background: #f0f0f0;
  box-shadow: none;
}

.sc-ion-label-md-s h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.sc-ion-label-md-s h3 {
  margin-top: 3px;
  margin-bottom: 4px;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none;
}

.icon-color-white {
  fill:#fff;
}
.icon-color-black {
  fill:#000;
}
app-tabs.ion-page, verification-tabs.ion-page {
  margin-top: var(--header-height);
}

ion-tab-bar {
  --background: var(--ion-color-light);
}

ion-tab-button {
  --ripple-color: var(--ion-color-medium);
  --color: var(--ion-color-dark);
  --color-selected: var(--ion-color-medium);
}

ion-tab-button.tab-selected {
  --background: var(--ion-color-dark) !important;
  --color-selected: var(--ion-color-light);
}

.overlay-hidden.sc-ion-modal-md-h {
  display: none
}

.list-item-end-button div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.item-note {
  height: 100%;
}

.list-item-end-button {
  height: 100%;
}

.list-item-end-icon {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .sc-ion-modal-md-h {
    --width: 600px;
    --height: 500px;
    --ion-safe-area-top: 0px;
    --ion-safe-area-bottom: 0px;
    --ion-safe-area-right: 0px;
    --ion-safe-area-left: 0px
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1024px) {
  .sc-ion-modal-md-h {
    --width: 800px;
    --height: 800px
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .sc-ion-modal-md-h {
    --width: 600px;
    --height: 600px
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .sc-ion-modal-md-h {
    --width: 600px;
    --height: 600px
  }
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .sc-ion-modal-md-h {
    --border-radius: 2px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4)
  }
}

.modal-wrapper.sc-ion-modal-md {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
  opacity: .01;
  height: 700px;
}
