/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  background: url(/assets/app-images/ubirch_grey_bg.jpg) no-repeat center/cover fixed;
}

ion-header ion-toolbar:first-child {
  height: 350px;
  --ion-padding: 50px;
  padding-top: 50px;
}

.config-area textarea.native-textarea.sc-ion-textarea-md {
  min-height: 150px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #eee;
}

.page-title {
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 50px;
}

ion-button {
  --border-radius: 0;
}

.padding-row {
  height: 100px;
}
