<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      uBirch GmbH
    </ion-title>
  </ion-toolbar>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)='doLogout()'>
      <ion-icon name="close-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <img src="/assets/images/uBirch_Logo.jpg" alt="" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <markdown [src]="'/assets/md/description.md'" (load)="onLoad($event)" (error)="onError($event)"></markdown>
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
