<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)='openClientUrl()'>
        <img [src]="clientLogoPath" class="logo">
        <ng-container *ngIf="addClientNameToLogo">
          {{clientName}}
        </ng-container>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)='doLogout()'>
        <ion-icon slot="start" name="close-circle"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <img [src]="clientStartImgPath" [alt]="clientName" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <markdown [src]="clientDescriptionPath" (load)="onLoad($event)" (error)="onError($event)"></markdown>
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
