<ion-button
  size="default"
  expand="full"
  text-wrap
  [disabled]="disabled"
  (blur)="onTouch()"
  (click)="openFileSelect()"
>
  <ng-container *ngIf="value?.length; else noFile">
    <ng-container *ngIf="value.length === 1; else filesCounter">
      {{ value[0].name }}
    </ng-container>
    <ng-template #filesCounter>
      {{ value.length }}
      <ng-container *ngIf="value.length > 1; else ONE_FILE">{{'label.files' | translate }}</ng-container>
      <ng-template #ONE_FILE>{{'label.file' | translate }}</ng-template>
    </ng-template>
  </ng-container>
  <ng-template #noFile>
    {{ 'file-input.info.no-files-chosen' | translate }}
  </ng-template>
</ion-button>
<input
  #fileInput
  [multiple]="multiple"
  type="file"
  class="ion-hide"
  (change)="inputChange($event)"
/>
